<!doctype html>
<html lang="en">

<head>
  <title><?= name ?></title>
  <?- include ('partials/head') ?>
</head>

<body>
  <?- include ('partials/navbar') ?>

  <div class="jumbotron jumbotron-fluid">
    <div class="container">
      <img src="<?= image ?>" alt="" style="width: 150px; float: right; margin: 25px 200px 0px 0px;">
      <h1 class="display-2">
        <?= name ?>
      </h1>
      <h2 class="display-4"><?= sign ?> <span id="price"><?= price ?></span></h2>
      <button id="tick">start price update</button>

      <script type="text/javascript">
        const price = document.getElementById("price");
        const tick = document.getElementById("tick");
        tick.addEventListener("load", function () {
          setInterval(function () {
            console.log("Hi")
          }, 1000);
        })
      </script>

      <h2 class="display-4"><?= symbol ?></h2>
      <h3 class="display-4">Rank: <?= rank ?>
      </h3>
      <p class="lead">
        <?= description ?>
      </p>
      <hr class="my-2">
      <p class="lead">
        <div class="dropdown show">
          <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Social Media</a>

          <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
            <? for(var type of socials) { ?>
            <a class="dropdown-item" href="">
              <?= type.type ?>
            </a>
            <? } ?>
          </div>
        </div>
      </p>
    </div>
  </div>

  <div id="chart"></div>

  <?- include ('partials/footer') ?>
</body>

</html>