<!DOCTYPE html>
<html lang="en">

<head>
  <title>Home</title>
  <?- include ('partials/head')?>
  <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/css/home.css">
</head>

<body>

  <div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-3">Final Project</h1>
      <p class="lead">Emmanuel Cortes</p>
      <hr class="my-2">
    </div>
  </div>

  <div class="card-deck">
    <div class="card">
      <a href="/cryptocurrency"><img src="images/cryptoHeader.jpg" class="card-img-top" alt="rnm" />
      </a>
      <div class="card-body">
        <h5 class="card-title">Cryptocurrency</h5>
        <p class="card-text">
          Top 50 list of Cryptocurrency
        </p>
      </div>
      <div class="card-footer">
        <small class="text-muted">Data from:
          <a href="https://coinranking.com/">Coinranking</a>
        </small>
      </div>
    </div>

    <div class="card">
      <a href="/shiba"><img src="images/shiba.jpg" class="card-img-top" alt="breakingBad" /></a>
      <div class="card-body">
        <h5 class="card-title">Shiba Inu</h5>
        <p class="card-text">
          Grab a random picture of a shiba inu
        </p>
      </div>
      <div class="card-footer">
        <small class="text-muted">Data from:
          <a href="https://shibe.online/">shiba.online</a></small>
      </div>
    </div>

    <div class="card">
      <a href="/ye"><img src="images/ye.jpg" class="card-img-top" alt="StarWars" /></a>
      <div class="card-body">
        <h5 class="card-title">Kanye Quotes</h5>
        <p class="card-text">
          Get a random quote from the man himself, Kanye West.
        </p>
      </div>
      <div class="card-footer">
        <small class="text-muted">Data from: <a href="https://kanye.rest/">kanye.rest</a></small>
      </div>
    </div>
  </div>


</body>

</html>