<!DOCTYPE html>
<html lang="en">

<head>
    <title>Super Heroes</title>
    <?- include ('partials/head') ?>
</head>

<body>
    <?- include ('partials/navbar') ?>

    <div class="row">
    <? hero.forEach((item) => { ?>
    
      <div class="col-xs-1-12">
        <div class="card">
          <div class="card-body">
        
            <h3 class="card-title"><?= item.name ?></h3>
            <p class="card-text">Lorem ipsum dolor sit amet.</p>
          </div>
        </div>
      </div>
    
    <? }) ?>
    </div>
</body>

</html>