<!DOCTYPE html>
<html lang="en">

<head>
    <title>Shibu Inu</title>
    <?- include ('partials/head') ?>
    <link rel="stylesheet" href="/css/shiba.css">
</head>

<body>
    <?- include ('partials/navbar') ?>

    <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="<?= image ?>" alt="Card image cap">
        <div class="card-body">
            <p class="card-text">The Shiba Inu is a Japanese breed of hunting dog. A small-to-medium breed, it is the
                smallest of the six original and distinct spitz breeds of dog native to Japan. A small, agile dog that
                copes very well with mountainous terrain, the Shiba Inu was originally bred for hunting.</p>
            <a name="" id="" class="btn btn-primary" href="/shiba" role="button">New Shiba Inu Picture!</a>
        </div>
    </div>

    <?- include ('partials/footer')?>

</body>

</html>