<!DOCTYPE html>
<html lang="en">

<head>
  <title>Weather</title>
  <?- include ('partials/head') ?>
</head>

<body>
  <?- include ('partials/navbar') ?>

  <h1>Place: </h1>
  <p>Weather: </p>

  <?- include ('partials/footer') ?>
  <!-- <script type="text/javascript">
    if (navigator.geolocation) {

      navigator.geolocation.getCurrentPosition(position => {
        lat = position.coords.latitude;
        longitude = position.coords.longitude;
      })
    }
  </script> -->
</body>

</html>