<!DOCTYPE html>
<html lang="en">

<head>
  <title>Kanye Quotes</title>
  <?- include ('partials/head') ?>
  <link rel="stylesheet" href="/css/ye.css">
</head>

<body>
  <?- include ('partials/navbar') ?>


  <div class="image">

    <img class="imgCover" src="images/ye.jpg" alt="" />
    
    <h2 id="text"><?= ye ?><br><a href="/ye">New Quote</a></h2>

</div>

  <?- include ('partials/footer') ?>
</body>

</html>