<!DOCTYPE html>
<html lang="en">

<head>
  <title>Kanye Quotes</title>
  <?- include ('partials/head') ?>
  
</head>

<body>
  <?- include ('partials/navbar') ?>

  <div class="card" style="width: 18rem;">
    <img class="card-img-top" src="images/kanye.jpg" alt="Card image cap">
  </div>
  <div class="card-body">
    <p class="card-text"><?= ye ?></p>
    <a name="" id="" class="btn btn-primary" href="/ye" role="button">New Quote</a>
  </div>

  <?- include ('partials/footer') ?>
</body>

</html>