body {
    background-color: #f4f4f4;
}

.jumbotron-fluid {
    background-color: #f4f4f4;
    font-family: 'Source Sans Pro', sans-serif;
}

.card-img-top {
    width: 100%;
    height: 15vw;
    object-fit: cover;
}

.card-deck {
    margin: 15px;
    font-family: 'Source Sans Pro', sans-serif;
}